<app-encabezado titulo="Vehiculos Disponibles" icono="car-sport"></app-encabezado>

<ion-content>
  <ion-text >
    <h1 class="ion-padding">Vehículos disponibles ahora:</h1>
  </ion-text>
  <ion-card class="animate__animated animate__bounceInDown">
    <ion-card-header>
      <ion-card-title>Kia Morning</ion-card-title>
      <ion-card-subtitle>Rodrigo Echeverría</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img [src]="'../assets/images/mapaDuoc.jpg'" >
      <p>Salida: 20:45</p>
      <p>Precio: $2100</p>
    </ion-card-content>
  </ion-card>
  <ion-button class="ion-margin" expand="block" color="dark" shape="round" (click)="presentAlert()">
    Solicitar Vehiculo
  </ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hyundai Veloster</ion-card-title>
      <ion-card-subtitle>Sebastian Poblete</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img [src]="'../assets/images/MapaDuoc2.png'" >
      <p>Salida: 21:45</p>
      <p>Precio: $3500</p>
    </ion-card-content>
  </ion-card>
  <ion-button class="ion-margin" expand="block" color="dark" shape="round" (click)="presentAlert()">
    Solicitar Vehiculo
  </ion-button>
</ion-content>


<app-footer></app-footer>


