<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
    <ion-icon slot="end" name="person" class="ion-padding"></ion-icon>
  </ion-toolbar> -->
  <app-encabezado titulo="Iniciar Sesión" icono="person"></app-encabezado>

<ion-content>
    <ion-text class="ion-padding">
      <h1 class="ion-padding" class="datos">Ingresa tus datos</h1>
    </ion-text>
</ion-content>

<app-footer></app-footer>


