<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
    <ion-icon name="home" slot="end" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text color="Dark">
    <h1 class="ion-padding" slot="">TeLLevoApp</h1>
  </ion-text>
  <ion-button expand="block" shape="round" color="primary" routerLink="../login">
    Ir a Iniciar Sesion
  </ion-button>
  <ion-button expand="block" shape="round" color="primary" routerLink="../autos-disp">
    Ver Autos Disponibles
  </ion-button>
</ion-content> 

<ion-footer>
  <ion-toolbar>
    <ion-text color="tertiary" slot="end" class="ion-padding">
      <p>TeLlevoApp Footer</p>
    </ion-text>
  </ion-toolbar>
</ion-footer>

